*{
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #00477E;
	box-sizing: border-box;
	text-decoration: none;
}
.inFrame{
	padding: 0px 170px;
}
.flexRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.flexColumn{
	display: flex;
	flex-direction: column;
}

/* Content */
.contentContainer{
	display: flex;
	flex: 1;
	flex-direction: column;

	margin: 70px 0px 0px 300px;
}
.post{
	border: 0.1px solid #EEEEEE;
	border-bottom: none;
	height: fit-content;
	padding: 1px;

	justify-content: flex-start;
	align-items: flex-start;
}
.post img{
	height: 300px;
}
.postDetails{
	padding: 20px;
	overflow: auto;
}
.postDetails > div{
	margin-bottom: 15px;
}
.postDetails > div > label:first-of-type{
	font-weight: bold;
}
.postOwner{
	display: flex;
	align-items: flex-start;
}
.post > .flexColumn{
	height: 100%;
	width: 100%;
	border-left: 0.1px solid #EEEEEE; 
	justify-content: space-between;
}
.postButtons{
	height: 40px;
	background-color: rgb(139, 0, 0);
	cursor: pointer;
	border: 0.1px solid #EEEEEE;
	border-top: none;
	margin-bottom: 30px;
	
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}
.postButtons > *{
	color: #FFFFFF;
}
.userAccount{
	margin-bottom: 30px;
	border-bottom: 0.1px solid #EEEEEE;
}
.profilePic{
	height: 298px;
	width: 298px;
}
.deleteAccButton{
	float: right;
	height: 30px;
	width: fit-content;
	padding: 0px 20px;
	border: 1px solid red;

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: flex-end;
	cursor: pointer;
}
.deleteAccButton > *{
	color: red !important;
}
.editButton{
	background-color: #00477E;
}
.postDesc{
	width: 100%;
	height: 100px;
	padding: 5px;
	border-color: #EEEEEE;
}
.allCats{
	padding: 10px;
	overflow: auto;
}
.allCats > .flexRow{
	justify-content: flex-start;
}
.question{
	padding-left: 10px;
	margin-top: 10px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #00477E;
	width: 100%;
}
.add{
	padding: 10px 15px;
	background-color: #FFFFFF;
	border: 2px solid #00477E;
	color: #00477E;
	margin-right: 10px;
	border-radius: 5px;
	font-weight: 500;
	font-size: 15px;
	width: fit-content;
	margin-top: 10px;
	cursor: pointer;
	float: right;
	align-self: flex-end;

	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.add:hover{
	color: #FFFFFF;
	background-color: #00477E;

	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 1250px){
	.inFrame{
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media (max-width: 1000px){
	.inFrame{
		padding-left: 20px;
		padding-right: 20px;
	}
	.flexRow{
		flex-direction: column
	}
	.contentContainer{
		margin: 0px;
		margin-top: 70px;
	}
	.post{
		height: fit-content;
	}
	.post > img{
		width: 100%;
	}
}