*{
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #00477E;
	box-sizing: border-box;
	text-decoration: none;
}
.inFrame{
	padding: 0px 170px;
}
.flexRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/* Filter */
.filter{
	position: fixed;
	top: 117px;
	right: 30px;
	z-index: 2;

	width: 249px;
	height: 304px;
	overflow: auto;
	display: inline-block;
	border: 0.1px solid #EEEEEE;
}
.filterTitle{
	height: 50px;
	border-bottom: 0.1px solid #EEEEEE;
	justify-content: flex-start;
	align-items: center;
}
.filterTitle > *{
	padding: 14px 10px;
}
.filterTitle .button{
	flex: 1;
	text-align: center;
	cursor: pointer;
}
.activeFilter{
	color: #FFFFFF;
	background-color: #00477E;
}
.filterItem{
	height: 40px;
	padding: 10px;
	align-items: center;
	justify-content: flex-start;
}
.filterItem label{
	margin-left: 7px;
}
.applyContainer{
	padding: 1px;
	margin-top: 12px;
}
.submit{
	cursor: pointer;
	border: none;
	background-color: #00477E;
	height: 40px;
	width: 100%;
	color: #FFFFFF;
	padding: 0px 20px;
	font-size: 17px;
}
/* Nav */
.drawer {
    left: 30px;
}

/* Content */
.topRow{
	width: 100%;
	margin-bottom: 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.contentContainer{
	display: flex;
	flex: 1;
	flex-direction: column;

	margin: 70px 300px 0px 300px;
}
.post{
	border: 0.1px solid #EEEEEE;
	border-bottom: none;
	height: 300px;
	padding: 1px;
	justify-content: flex-start;
}
.post img{
	height: 100%;
}
.postDetails{
	padding: 20px;
	height: 100%;
	overflow: auto;
}
.postDetails > div{
	margin-bottom: 15px;
}
.postDetails > div > label:first-of-type{
	font-weight: bold;
}
.postOwner{
	display: flex;
	align-items: flex-start;
}
.clientImg{
	height: 50px !important;
	width: 50px;
	margin-right: 5px;
}
.post > .flexColumn{
	height: 100%;
	border-left: 0.1px solid #EEEEEE;
}
.postButtons{
	height: 40px;
	background-color: #00477E;
	cursor: pointer;
	border: 0.1px solid #EEEEEE;
	border-top: none;
	margin-bottom: 30px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.postButtons > *{
	color: #FFFFFF;
}


@media (max-width: 1250px){
	.inFrame{
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media (max-width: 1000px){
	.inFrame{
		padding-left: 20px;
		padding-right: 20px;
	}
	.flexRow{
		flex-direction: column
	}
	.filter{
		position: static;
		z-index: 0;
		width: 100%;
		margin-bottom: 30px;
	}
	.filterItem, .filterTitle{
		flex-direction: row;
	}
	.contentContainer{
		margin: 0px;
		margin-top: 70px;
		padding: 0px 20px;
	}
	.post{
		height: fit-content;
	}
	.post > img{
		width: 100%;
	}
}