*{
	margin: 0px;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: #00477E;
	box-sizing: border-box;
	text-decoration: none;
}
.inFrame{
	padding: 0px 170px;
}
.flexRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
nav{
	width: 100%;
	height: 50px;
	background-color: #00477E;
	padding: 0px 40px;
	color: #FFFFFF;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
}
nav > *{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.humIcon{
	cursor: pointer;
	font-size: 20px;
	display: none;
}
.title{
	font-weight: normal;
	font-size: 23px;
	margin-top: -5px;
}
nav .title, nav .humIcon{
	color: #FFFFFF;
}
.searchBar{
	height: 30px;
	width: 500px;
	background-color: #fff;
	padding-left: 30px;
    font-size: 15px;
    border-radius: 15px 0px 0px 15px;
	border: none;
	outline: none;
}
.searchIcon{
	background-color: #FFFFFF;
	height: 30px;
	border-radius: 0px 15px 15px 0px;
	border: none;
	width: 60px;
	border-left: 0.5px solid #adadad;
	outline: none;
	padding-right: 2px;
	font-size: 15px;
	cursor: pointer;
	margin-right: 25px;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navRight .searchIcon:hover{
	color: #065FD4;
	background-color: #D1D3D3;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navRight .searchForm{
	width: fit-content;
}
.searchForPhones{
	display: none;
}
.signIn_Up_Button{
	float: right;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	height: 30px;
	padding: 0px 20px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	color: #FFFFFF;
	transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
	margin-right: 5px;
}
.signIn_Up_Button:hover{
	background-color: rgb(1, 105, 185);
	transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.welcome{
	color: #FFFFFF !important;
	font-size: 18px;
}
.drawer{
	position: fixed;
	top: 70px;
	bottom: 0;
	left: 170px;
	z-index: 2;

	width: 249px;
	background-color: #FFFFFF;
	overflow: auto;
	display: inline-block;
	border-top: 0.1px solid #EEEEEE;
}
.drawerTitle{
	height: 49px;
	border-bottom: 1px solid #00477E;
	padding-left: 20px;

	display: none;
	flex-direction: row;
	align-items: center;
}
.drawerItem{
	height: 50px;
	border-bottom: 0.5px solid #EEEEEE;
}
.drawerItem a{
	text-decoration: none;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row;
	align-items: center;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.drawerItem a:hover{
	padding-left: 30px;

	color: #FFFFFF !important;
	background-color: #00477E;
	transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.notDrawer{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: none;
}

/* Content */
body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.contentContainer{
	display: flex;
	flex: 1;
	flex-direction: column;

	margin: 70px 0px 0px 300px;
}
.post{
	border: 0.1px solid #EEEEEE;
	border-bottom: none;
	height: 300px;
	padding: 1px;
	justify-content: flex-start;
}
.post img{
	height: 100%;
}
.postDetails{
	padding: 20px;
	height: 100%;
	overflow: auto;
}
.postDetails > div{
	margin-bottom: 15px;
}
.postDetails > div > label:first-of-type{
	font-weight: bold;
}
.postOwner{
	display: flex;
	align-items: flex-start;
}
.clientImg{
	height: 50px !important;
	width: 50px;
	margin-right: 5px;
}
.post > .flexColumn{
	height: 100%;
	border-left: 0.1px solid #EEEEEE;
}
.postButtons{
	height: 40px;
	background-color: #00477E;
	cursor: pointer;
	border: 0.1px solid #EEEEEE;
	border-top: none;
	margin-bottom: 30px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.postButtons > *{
	color: #FFFFFF;
}


@media (max-width: 1300px){
	.drawer{
		display: inline-block;
	}
	.searchBar{
		width: 400px;
	}
	.searchIcon{
		margin-right: 30px;
	}
}
@media (max-width: 1250px){
	.inFrame{
		padding-left: 40px;
		padding-right: 40px;
	}
	.drawer{
		left: 40px;
	}
}
@media (max-width: 1155px){
	.drawer{
		display: inline-block;
		width: 200px;
	}
	.searchBar{
		width: 300px;
	}
}
@media (max-width: 1000px){
	.inFrame{
		padding-left: 20px;
		padding-right: 20px;
	}
	.flexRow{
		flex-direction: column
	}
	nav{
		padding: 0px 15px;
	}
	.navRight .searchBar{
		display: none;
	}
	.searchBar{
		width: 100%;
	}
	.navRight .searchIcon{
		border-radius: 5px;
		margin-right: 5px;
		background-color: #00477E;
		border: 1px solid #FFFFFF;
		width: 45px;
	}
	.navRight .searchIcon *{
		color: #FFFFFF;
	}
	.navRight .searchIcon:hover{
		background-color: #00477E;
	}
	.signIn_Up_Button{
		padding: 0px 5px;
	}
	.signIn_Up_Button:hover{
		background-color: #00477E;
	}
	.drawer{
		top: 0;
		bottom: 0;
		left: 0;
		
		width: 250px;
		margin-left: -250px;
	}
	.drawerTitle{
		display: flex;
	}
	.drawerItem{
		padding-left: 30px;
	}
	.humIcon{
		display: inline-block;
		margin: 0px 10px;
	}
	.contentContainer{
		margin: 0px;
		margin-top: 70px;
	}
	.searchForPhones{
		flex-direction: row;
		justify-content: center;
		align-items: center;

		position: fixed;
		top: 50px;
		left: 0px;
		right: 0px;

		width: 100%;
		height: 50px;
		padding: 10px 0px;
		border-top: 1px solid #FFFFFF;
		background-color: #00477E;
	}
	.searchForPhones .searchForm{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.searchForPhones .searchIcon{
		margin: 0px;
	}
	.post{
		height: fit-content;
	}
	.post > img{
		width: 100%;
	}
}